


#colorPicker{
    height: 32px;
    width: 500px;
    border: none;
    /*border-radius: 50px;*/
}

.notification {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2px ;
  border-radius: 4px;
  position: absolute;
  /*top: 500px; !* Adjust based on your layout *!*/
  left: 70%; /* Center the notification */
  /*transform: translateX(-50%);*/
  /*z-index: 1000; !* Ensure it appears above other elements *!*/
}


#simpleList li{
    list-style-type: upper-roman;
}

.sample{

    height: 500px;
    width: 500px;
    border: 2px solid black;

}